.container {
  @media screen and (max-width: 376px) {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
  }
}

nav {
  min-height: 10vh;
  min-width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  @media screen and (max-width: 376px) {
    padding: 5%;
  }

  .display {
    display: none;
  }

  button {
    background: transparent;
    border: none;
    cursor: pointer;
    border: 2px solid rgb(65, 65, 65);
    padding: 0.5rem;
    transition: all 0.3s ease;
    &:hover {
      background: rgb(65, 65, 65);
      color: white;
    }

    // 	360×640
    // 1366×768
    // 1920×1080
    // 375×667
    // 360×720
    // 768×1024

    h1 {
      @media screen and (max-width: 768px) {
        color: red;
        font-size: 2rem;
        margin-right: 50px;
      }
      @media screen and (max-width: 310px) {
        color: blue;
      }
      @media screen and (max-width: 310px) {
        color: green;
      }
      @media screen and (max-width: 310px) {
        color: yellow;
      }
      @media screen and (max-width: 310px) {
        color: pink;
      }
      @media screen and (max-width: 310px) {
        color: purple;
      }
      @media screen and (max-width: 375px) {
        color: grey;
        width: 200px;
        margin-left: 150px;
        font-size: 1.5rem;
      }
      @media screen and (max-width: 360px) {
        color: black;
        text-align: center;
        width: 100%;
        font-size: 1.5rem;
      }
      @media screen and (max-width: 310px) {
        color: brown;
      }
    }
  }
}
//NOTE TO PUSHh
@media screen and (max-width: 768px) {
  nav {
    button {
      z-index: 10;
      //margin-right: -40px;
      margin-top: -20px;
      width: 20%;
    }
  }
}
